<html>
	<head>
		<title>
			Product information
		</title>
		<style>
			table,th,td{
				border: 1px solid black;
				/*border-collapse: collapse;*/
				padding: 1px;
			}
			table{
				border-spacing: 2px;
			}
		</style>
	</head>
	<body>
		<a href="create product">create product</a><br><br>

		<table style="width:50%">
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>QUANTITY</th>
				<th>OPERATION</th>
				<th>OPERATION</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Washing Machines</td>
				<td>5</td>
				<td><a href="UPDATE">UPDATE</a></td>
				<td><a href="DELETE">DELETE</a></td>
			</tr>

			<tr>
				<td>2</td>
				<td>LED TV's</td>
				<td>7</td>
				<td><a href="UPDATE">UPDATE</a></td>
				<td><a href="DELETE">DELETE</a></td>
			</tr>

			<tr>
				<td>3</td>
				<td>Speakers</td>
				<td>7</td>
				<td><a href="UPDATE">UPDATE</a></td>
				<td><a href="DELETE">DELETE</a></td>
			</tr>

			<tr>
				<td>4</td>
				<td>Water Purifiers</td>
				<td>2</td>
				<td><a href="UPDATE">UPDATE</a></td>
				<td><a href="DELETE">DELETE</a></td>
			</tr>

			
		</table>
		
	</body>

</html>