<html>
	<head>
		<title>
			title tag information
		</title>

	</head>
	<body bgcolor="#785148">
		this is body part
		<h1>
				This is h1 tag
		</h1>
		<h2>
				This is h2 tag
		</h2>
		<h3>
				This is h3 tag
		</h3>
		<h4>
				This is h4 tag
		</h4>
		<h5>
				This is h5 tag
		</h5>
		<h6>
				This is h6 tag
		</h6>
		<a href="http://www.google.com">Go to google</a><br>
		<a href="http://www.gmail.com">Go to gmail</a><br>
		<a href="http://www.youtube.com">Go to youtube</a><br>
		<a href="http://www.yahoo.com">Go to yahoo</a><br>

		<form>
			username <input type="text"></input><br>
			Password:<input type="password"></input><br>
			Email:<input type="email"></input><br>
			
			Gender:Male:<input type="radio"></input><br>Male:<input type="radio"></input><br>
			Do you want to join immediately?:<input type="checkbox"></input><br>
			Present address:<textarea></textarea><input type="submit"></input><br>
			Courses available:
			<select>
				<optgroup>
					<option>python</option>
					<option>python,ML</option>
					<option>python, Django</option>
					<option></option>
						
					
				</optgroup>

		</form>
	</body>


</html>