<html>
	<head>
		<h1>PURCHASE DETAILS</h1>
		
		<title>
			Purchase information
		</title>
		<style>
			table,th,td{
				border: 1px solid black;
				/*border-collapse: collapse;*/
				padding: 1px;
			}
			table{
				border-spacing: 2px;
			}
		</style>
	</head>
	<body>
		<a href="create purchase">create purchase</a><br><br>

		<table style="width:50%">
			<tr>
				<th>ID</th>
				<th>ITEM_NAME</th>
				<th>ITEMS_PURCHASED</th>
				<th>OPERATION</th>
				<th>OPERATION</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Tiles</td>
				<td>5000</td>
				<td><a href="UPDATE">UPDATE</a></td>
				<td><a href="DELETE">DELETE</a></td>
			</tr>

			<tr>
				<td>2</td>
				<td>Cup Boards</td>
				<td>20</td>
				<td><a href="UPDATE">UPDATE</a></td>
				<td><a href="DELETE">DELETE</a></td>
			</tr>

			<tr>
				<td>3</td>
				<td>Pipes</td>
				<td>6</td>
				<td><a href="UPDATE">UPDATE</a></td>
				<td><a href="DELETE">DELETE</a></td>
			</tr>

			<tr>
				<td>4</td>
				<td>Chairs</td>
				<td>15</td>
				<td><a href="UPDATE">UPDATE</a></td>
				<td><a href="DELETE">DELETE</a></td>
			</tr>

			
		</table>
		
	</body>

</html>